{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
    <h1 class="mb-4">{% trans "Add signee" %}</h1>
    <form method="post" enctype="multipart/form-data" class="p-4 bg-light rounded shadow-sm">
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li><strong>{{ field.name }}</strong>: {{ error }}</li>
                {% endfor %}
            {% endfor %}
            </ul>   
        </div>
        {% endif %}
        <div class="mb-3">
            <label for="id_name" class="form-label">{% trans "Signee name, surname" %}</label>
            <input type="text" name="name" id="id_name" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="id_email" class="form-label">{% trans "E-mail" %}</label>
            <input type="text" name="email" id="id_email" class="form-control" required>
        </div>
        <div class="d-grid mt-3">
            <button type="submit" class="btn btn-primary">{% trans "Add" %}</button>
        </div>
        <br>
        {% trans "You can also add signess by uploading a csv file in the command line." %}
    </form>
</div>
{% endblock content %}
